---
title: Team
layout: default
bodyClass: page-team-list
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Meet The Team</h1>
        <p>
          Our team of qualified accountants and financial consultants can help
          your business at any stage of it's growth.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-12">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <p class="team-description">{{ team.jobtitle }}</p>
          <!-- {% if team.email %}
          <a target="blank" href="mailto:{{ team.email }}">
            <img src="../images/social/email.svg" title="email">
          </a> 
          {% endif %}
          &nbsp;&nbsp; -->
          {% if team.linkedinurl %}
          <a target="blank" href="{{ team.linkedinurl }}">
            <img src="../images/social/linkedin-in-brands.svg" title="linkedin">
          </a> 
          {% endif %}
          &nbsp;&nbsp;
          {% if team.githuburl %}
          <a target="blank" href="{{ team.githuburl }}">
            <img src="../images/social/github.svg" title="github" alt="github">
          </a> 
          {% endif %}
          &nbsp;&nbsp;
          {% if team.twitterurl %}
          <a target="blank" href="{{ team.twitterurl }}">
            <img src="../images/social/twitter.svg" title="twitter" alt="twitter">
          </a> 
          {% endif %}
        </div>
        <div class="team-content" style="text-align:justify;">{{ team.content }}</div>
      </div>
      <br><br>
    </div>
    {% endfor %}
  </div>
</div>
