<div class='header {{include.headerClass}}'>
  <div class="container">
    <br><br><br><br>
    <div class="logo">
      <div class="groupName" onclick="location.href='{{site.baseurl}}/'"><img src="{{ site.baseurl }}/images/helix_v2.png"> Biodata <span style="color: #414156">Analysis</span> Group</div>
    </div>
    <!-- <div class="logo-mobile">
      <a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/logo-mobile.svg" /></a>
    </div> -->
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>