<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/activities/" class="{% if page.url contains 'activities' %}current{% endif %}">Activities</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
    <li><a href="{{site.baseurl}}/projects/" class="{% if page.url contains 'projects' %}current{% endif %}">Projects</a></li>
    <li><a href="{{site.baseurl}}/publications/" class="{% if page.url contains 'publications' %}current{% endif %}">Publications</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>
